* {
    box-sizing: border-box;
}

body {
    @include flex{
        justify-content: center;
        align-items: center;
    }

    width: 100vw;
    height: 100vh;

    background: $black;
}

.flatpickr-day.selected {
    background: $blue !important;
    border-color: lighten($blue, 10%) !important;
}